<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
    <!--装配sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入mybatis的核心配置文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <!--注入mybatis的数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置别名扫描-->
        <property name="typeAliasesPackage" value="cn.itcast.pojo"/>
        <!--配置映射文件管理：mybatis/mappers目录下的所有映射文件-->
        <property name="mapperLocations" value="classpath:mybatis/mappers/**/*.xml"/>
    </bean>

    <!--装配多个Mapper-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.itcast.mapper"/>
    </bean>
</beans>